body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

th {
  text-align: center;
}

header {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: rgb(252, 247, 175);
}
.header-text{
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 45px;
  text-align: left;
}

.selection{
  padding-top: 15px;
  font-size: large;
  padding-bottom: 10px;
  text-align: left;
}

.footer-text {
  background-color: #101820;
  color: antiquewhite;
  text-align: center;
}

.label-text {
  padding-left: 20px;
}

#f1{
  width: 50%;
}

.image-container{
  position: absolute;
  left: 25%;
}
footer{
  position: fixed;
  bottom: 0; 
  width: 100%;
}


